<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.g06.bolsa">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BolsaN">
        <activity
            android:name=".empresa.EmpresaMenuActivity"
            android:exported="false" />
        <activity
            android:name=".empresa.EmpresaInsertarActivity"
            android:exported="false" />
        <activity
            android:name=".empresa.EmpresaEliminarActivity"
            android:exported="false" />
        <activity
            android:name=".empresa.EmpresaConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".empresa.EmpresaActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".EvaluacionInsertarActivity"
            android:exported="false" />
        <activity
            android:name=".EvaluacionEliminarActivity"
            android:exported="false" />
        <activity
            android:name=".EvaluacionConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".EvaluacionActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".PuestoConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".PuestoEliminarActivity"
            android:exported="false" />
        <activity
            android:name=".PuestoActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".PuestoInsertarActivity"
            android:exported="false" />
        <activity
            android:name=".EvaluacionMenuActivity"
            android:exported="false" />
        <activity
            android:name=".PuestoMenuActivity"
            android:exported="false" />
        <activity
            android:name=".detalle_aplicacion.DetalleAplicacionActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".detalle_aplicacion.DetalleAplicacionConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".detalle_aplicacion.DetalleAplicacionEliminarActivity"
            android:exported="false" />
        <activity
            android:name=".detalle_aplicacion.DetalleAplicacionInsertarActivity"
            android:exported="false" />
        <activity
            android:name=".detalle_aplicacion.DetalleAplicacionMenuActivity"
            android:exported="false" />
        <activity
            android:name=".area_trabajo.Area_TrabajoMenuActivity"
            android:exported="false" />
        <activity
            android:name=".area_trabajo.Area_TrabajoInsertarActivity"
            android:exported="false" />
        <activity
            android:name=".area_trabajo.Area_TrabajoEliminarActivity"
            android:exported="false" />
        <activity
            android:name=".area_trabajo.Area_TrabajoActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".area_trabajo.Area_TrabajoConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".departamento.DepartamentoMenuActivity"
            android:exported="false" />
        <activity
            android:name=".departamento.DepartamentoInsertarActivity"
            android:exported="false" />
        <activity
            android:name=".departamento.DepartamentoEliminarActivity"
            android:exported="false" />
        <activity
            android:name=".departamento.DepartamentoConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".departamento.DepartamentoActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".datosPerfil.DatosPerMenuActivity"
            android:exported="false" />
        <activity
            android:name=".datosPerfil.DatosPerActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".datosPerfil.DatosPerInsertar"
            android:exported="false" />
        <activity
            android:name=".datosPerfil.DatosPerConsultar"
            android:exported="false" />
        <activity
            android:name=".datosPerfil.DatosPerEliminar"
            android:exported="false" />
        <activity
            android:name=".contacto_aspirante.ContactoAspiranteActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".contacto_aspirante.ContactoAspiranteConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".contacto_aspirante.ContactoAspiranteEliminarActivity"
            android:exported="false" />
        <activity
            android:name=".contacto_aspirante.ContactoAspiranteInsertarActivity"
            android:exported="false" />
        <activity
            android:name=".contacto_aspirante.ContactoAspiranteMenuActivity"
            android:exported="false" />
        <activity
            android:name=".dato_estudio.DatoEstudioActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".dato_estudio.DatoEstudioConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".dato_estudio.DatoEstudioEliminarActivity"
            android:exported="false" />
        <activity
            android:name=".dato_estudio.DatoEstudioInsertarActivity"
            android:exported="false" />
        <activity
            android:name=".dato_estudio.DatoEstudioMenuActivity"
            android:exported="false" />
        <activity
            android:name=".detalle_experiencia.DetalleExperienciaActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".detalle_experiencia.DetalleExperienciaConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".detalle_experiencia.DetalleExperienciaEliminarActivity"
            android:exported="false" />
        <activity
            android:name=".detalle_experiencia.DetalleExperienciaInsertarActivity"
            android:exported="false" />
        <activity
            android:name=".detalle_experiencia.DetalleExperienciaMenuActivity"
            android:exported="false" />
        <activity
            android:name=".DetalleOfertaEliminarActivity"
            android:exported="false" />
        <activity
            android:name=".DetalleOfertaConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".DetalleOfertaActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".DetalleOfertaInsertarActivity"
            android:exported="false" />
        <activity
            android:name=".DetalleOfertaMenuActivity"
            android:exported="false" />
        <activity
            android:name=".AspiranteEliminarActivity"
            android:exported="false" />
        <activity
            android:name=".AspiranteActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".AspiranteConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".AspiranteInsertarActivity"
            android:exported="false" />
        <activity
            android:name=".OfertaLaboralEliminarActivity"
            android:exported="false" />
        <activity
            android:name=".OfertaLaboralInsertarActivity"
            android:exported="false" />
        <activity
            android:name=".OfertaLaboralConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".OfertaLaboralActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".AspiranteMenuActivity"
            android:exported="false" />
        <activity
            android:name=".OfertaMenuActivity"
            android:exported="false" />
        <activity
            android:name=".EmpresaEditarActivity"
            android:exported="false" />
        <activity
            android:name=".clasesCardAreas.cFinanzas"
            android:exported="false" />
        <activity
            android:name=".clasesCardAreas.cInformatica"
            android:exported="false" />
        <activity
            android:name=".clasesCardAreas.Cconstruccion"
            android:exported="false" />
        <activity
            android:name=".AdministradorInicioActivity"
            android:exported="false" />
        <activity
            android:name=".InicioEmpresaActivity"
            android:exported="false" />
        <activity
            android:name=".Ofertasus"
            android:exported="false" />
        <activity
            android:name=".Inicio"
            android:exported="false"
            android:label="@string/title_activity_inicio"
            android:theme="@style/Theme.BolsaN.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>